<div class="min-h-screen bg-pink-50 flex items-center justify-center">
	<div class="flex flex-col items-center justify-center" [formGroup]="loginForm">
		<h2 class="text-center text-3xl font-extrabold text-gray-700 mb-6">
			Sign in to your account
		</h2>
		<div class="mb-6">
			<label for="email-address" class="sr-only">Email address</label>
			<input id="email-address" name="email" type="email" autocomplete="email" required
				   class="rounded px-3 py-2 w-80 sm:w-96 border border-gray-300 placeholder-gray-500 text-gray-900
                 focus:outline-none focus:border-yellow-100 focus:z-100 sm:text-sm"
				   placeholder="Email"
				   formControlName="email">
			<div
				*ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty
            || loginForm.controls['email'].touched)"
				class="text-xs text-red-500 h-0">
				<div *ngIf="loginForm.controls['email'].errors?.required" class="font-thin">
					Please enter email
				</div>
			</div>
		</div>
		<div>
			<label for="password" class="sr-only">Password</label>
			<input id="password" name="password" type="password" autocomplete="current-password" required
				   class="rounded px-3 w-80 sm:w-96 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md
                 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
				   placeholder="Password"
				   formControlName="password">
			<div
				*ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty
            || loginForm.controls['password'].touched)"
				class="text-xs text-red-500 h-0">
				<div *ngIf="loginForm.controls['password'].errors?.required" class="font-thin">
					Please enter password
				</div>
			</div>
		</div>
		<div>
			<button
				class="py-2 px-6 my-4 border border-transparent text-sm font-medium
                rounded-md text-white bg-blue-900 hover:bg-pink-300 focus:outline-none focus:ring-2 focus:ring-offset-2
                focus:ring-indigo-500"
				(click)="login()">
				SIGN IN
			</button>
		</div>
		<span class="flex justify-center">You don't have an account?
				<button class="ml-2 font-semibold text-sky-900" [routerLink]="['/users/register']">Sign up
																								   here</button>
			</span>
	</div>
</div>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
