<style>
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
		background-color: #fff;
		border-radius: 5px;
	}

	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0;
	}

</style>
<div class="w-full min-h-screen bg-gray-200 py-8 px-2 sm:px-12">
	<button class="mb-4 flex items-center font-semibold text-lg text-sky-800" routerLink="/dashboard">
		<mat-icon class="mr-2">keyboard_backspace</mat-icon>
		<span>Go to dashboard</span>
	</button>
	<div class="p-8 bg-gray-100 rounded-sm">
		<div class="flex flex-col">
			<span class="font-extrabold text-4xl mb-4 text-gray-600">Movies ranking</span>
			<div class="flex flex-col items-start">
				<mat-form-field appearance="outline" class="text-sm">
					<mat-label>Category</mat-label>
					<mat-select [(ngModel)]="movieCategory" [ngModelOptions]="{standalone: true}"
								(ngModelChange)="categoryChanged($event)">
						<mat-option *ngFor="let category of categories" [value]="category">
							{{category}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<button (click)="this.movieCategoryChanged.next('')" class="font-extralight">Unselect category</button>
			</div>
		</div>
		<div class="grid grid-cols-3 font-light">
			<span></span>
			<span>Name</span>
			<span class="text-right mr-16">Average rate</span>
		</div>
		<div *ngIf="movies && movies.length > 0; else noData">
			<ng-container *ngFor="let movie of movies">
				<div [routerLink]="['/movies/details', movie.id]"
					 class="grid grid-cols-3 bg-white rounded-md items-center gap-4 border-gray-300 border-2 mb-0.5 border-opacity-30 hover:opacity-40 h-28 cursor-pointer">
					<img alt="gallery"
						 class="h-24 ml-1 w-auto shadow-sm rounded-md self-center"
						 [src]=movie.imageBytes>
					<span
						class="antialiased font-bold text-lg filter brightness-50 text-cyan-800 break-all">{{movie.title}}</span>
					<span
						class="antialiased font-bold text-yellow-300 text-2xl text-right mr-16">{{movie.averageRate}}</span>
				</div>
			</ng-container>
		</div>
		<div class="flex justify-center pt-6">
			<ng-container *ngFor="let page of totalPages">
				<a class="h-10 w-10 bg-sky-900 hover:bg-blue-600 font-semibold text-white text-sm mr-4 cursor-pointer
			flex items-center justify-center" (click)="getMoviesRankingPage(page)">{{page + 1}}</a>
			</ng-container>
		</div>
	</div>
</div>
<ng-template #noData>
	<div class="flex flex-col justify-center items-center h-72">
		<span class="text-center text-gray-500">No data</span>
	</div>
</ng-template>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
