<div class="w-full min-h-screen bg-gray-200 p-4 sm:p-12">
	<button class="mb-4 flex items-center font-semibold text-lg text-sky-800" [routerLink]="['/dashboard']">
		<mat-icon class="mr-2">keyboard_backspace</mat-icon>
		<span>Go to dashboard</span>
	</button>
	<div class="bg-gray-50 p-8 rounded-lg border-gray-300 border-2 mb-0.5 border-opacity-30">
		<div class="ml-6">
			<span class="font-extrabold text-4xl text-gray-600">Reviews</span>
			<div class="flex items-baseline flex-wrap mt-6" *ngIf="withFilters">
				<input
					type="text"
					class="border border-gray-200 font-light rounded w-48 sm:w-64 mr-8"
					name="title"
					placeholder="Movie title"
					[(ngModel)]="movieTitle"
					(ngModelChange)="movieTitleChanged.next($event)"/>
				<input
					type="text"
					class="border border-gray-200 font-light rounded w-48 sm:w-64 mr-8"
					name="authorName"
					placeholder="Author name"
					[(ngModel)]="authorName"
					(ngModelChange)="authorNameChanged.next($event)"/>
			</div>
		</div>
		<div *ngIf="reviews && reviews.length > 0; else noData" class="flex flex-col lg:flex-row justify-items-start mt-8">
			<ng-container *ngFor="let review of reviews">
				<div [routerLink]="['/reviews/details', review.id]"
					 class="flex flex-col relative hover:opacity-40 w-full lg:w-1/3 mr-6 bg-white mb-8 cursor-pointer">
					<img alt="gallery"
						 class="w-auto h-full shadow-sm rounded-sm self-center"
						 [src]=review.imageBytes>
					<div class="flex flex-col p-4 break-all">
						<div class="flex items-baseline">
							<mat-icon class="mr-2 text-gray-500">rate_review</mat-icon>
							<span class="font-bold text-3xl text-gray-700">{{review.title}}</span>
						</div>
						<span class="text-xl font-semibold text-sky-900">{{review.movieTitle}}</span>
						<span class="font-light text-gray-400">{{review.reviewedBy.name}}</span>
						<span class="font-light text-gray-400">{{review.creationDate}}</span>
					</div>
				</div>
			</ng-container>
		</div>
		<div class="flex justify-center">
			<ng-container *ngFor="let page of totalPages">
				<a class="h-10 w-10 bg-sky-900 hover:bg-sky-600 font-semibold text-white text-sm mr-4 cursor-pointer
			flex items-center justify-center" (click)="getReviewsListPage(page)">{{page + 1}}</a>
			</ng-container>
		</div>
	</div>
</div>
<ng-template #noData>
	<div class="flex flex-col justify-center items-center h-72">
		<span class="text-center text-gray-500">No data</span>
	</div>
</ng-template>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
