<style>
	.back {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dbd8e1' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
</style>
<div class="bg-blue-100 flex justify-center items-center flex-col w-full h-2/6 shadow-sm back">
	<div class="bg-white rounded-full flex items-center justify-center mb-7 mt-7 w-64 h-64 lg:h-80 lg:w-80 shadow-2xl">
		<img class="w-60 h-60 lg:h-72 lg:w-72 rounded-full"
			 [src]="user.imageBytes"
			 alt="Avatar of User"/>
	</div>
	<div class="flex flex-col items-center font-extralight mb-2 sm:text-xl text-lg text-gray-800">
		<span class="font-bold">{{user.name}}</span>
		<div class="flex flex-row items-center">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
				<path fill-rule="evenodd"
					  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
					  clip-rule="evenodd"/>
			</svg>
			<span class="pl-1">{{user.countryWithCity}}</span>
		</div>
		<span>since {{user.accountCreationDate}}</span>
		<div *ngIf="user.isReviewer" class="flex items-center">
			<span class="font-semibold mr-1 text-gray-600">Reviewer</span>
			<mat-icon class="text-gray-600">check_circle</mat-icon>
		</div>
	</div>
	<div class="flex pb-4" *ngIf="route.snapshot.params.userId == tokenStorageService.getUserId(); else follow">
		<button
			class="bg-white rounded-full hover:bg-gray-100 border-2 border-gray-500 border-opacity-40 py-1 px-6
			text-gray-400 text-s font-extralight mr-6" [routerLink]="['/reviews/add']">
			Add review
		</button>
		<button
			class="bg-white rounded-full hover:bg-gray-100 border-2 border-gray-500 border-opacity-40 py-1 px-6
			text-gray-400 text-s font-extralight" [routerLink]="['/movies/add']">
			Add movie
		</button>
	</div>
	<ng-template #follow>
		<button *ngIf="!inFollowers"
				class="bg-white rounded-full hover:bg-gray-100 border-2 border-gray-500 border-opacity-40 py-1 px-6
			text-gray-400 font-extralight mb-2" (click)="addToFollowing()">
			Follow
		</button>
		<span *ngIf="inFollowers" class="mb-4 text-sky-800 font-semibold">You follow that user</span>
	</ng-template>
</div>
<div
	class="bg-gray-100 bg-opacity-70 text-gray-600 text-base border-2 border-gray-400 border-opacity-10 grid
    grid-cols-3 divide-gray-300 divide-x h-24 w-full drop-shadow-sm justify-around p-5 text-center">
	<div class="flex flex-col items-center text">
		<span class="font-bold">Followers</span>
		<span class="font-light">{{user.followersCount}}</span>
	</div>
	<div class="flex flex-col items-center">
		<span class="font-bold">Following</span>
		<span class="font-light">{{user.followingCount}}</span>
	</div>
	<div class="flex flex-col items-center">
		<span class="font-bold">Favourite movies</span>
		<span class="font-light">{{user.likedMoviesCount}}</span>
	</div>
</div>
<div class="bg-gray-50 bg-opacity-80 w-full font-extralight text-sm p-6 shadow-sm flex flex-col">
	<div class="flex flex-row items-start">
		<span class="font-bold pb-2 pr-1">Description</span>
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				  d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4
            0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83
            2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"/>
		</svg>
	</div>
	<span *ngIf="user.description" class="break-words">{{user.description}}</span>
	<span *ngIf="!user.description">No data</span>
</div>
<div
	class="mt-6 bg-gray-50 bg-opacity-80 w-auto font-extralight text-sm p-6 shadow-sm border-2 border-opacity-20 center mx-5 mb-8 rounded-t-xl">
	<div class="flex justify-between mb-4">
		<span class="font-bold pb-2 pr-1">Favourite movies</span>
		<button [routerLink]="['/movies/list']"
				[queryParams]="{likedById: user.id}">See all
		</button>
	</div>
	<div class="flex flex-wrap justify-start">
		<ng-container *ngIf="favouriteMovies && favouriteMovies.length > 0; else noData">
			<div *ngFor="let movie of favouriteMovies">
				<div [routerLink]="['/movies/details', movie.id]"
						class="w-44 h-20 border-2 rounded-md mr-4 shadow-sm flex flex-col justify-center text-center
						border-gray-200 bg-red-300 filter drop-shadow-sm hover:opacity-50 cursor-pointer">
					<span class="text-gray-100 text-xl font-bold truncate">{{movie.title}}</span>
					<span class="text-gray-300 font-semibold">{{movie.category}}</span>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<div
	class="bg-gray-50 w-auto font-extralight text-base p-6 shadow-sm border-2 border-opacity-20 center mx-5 my-5 rounded-xl">
	<mat-tab-group mat-align-tabs="start">
		<mat-tab label="Following">
			<span class="flex place-content-end cursor-pointer pt-1 text-sm" [routerLink]="['/users/list']"
				  [queryParams]="{followingUserId: user.id}">See all</span>
			<div class="flex flex-wrap justify-start">
				<ng-container *ngIf="following && following.length > 0; else noData">
					<div *ngFor="let followingUser of following">
						<div class="pr-16 mt-4 flex flex-col w-64">
							<div class="flex relative">
								<img alt="gallery"
									 class="absolute inset-0 w-auto h-48 object-cover shadow-sm rounded-sm border-2 border-gray-200"
									 [src]=followingUser.imageBytes>
								<div (click)="goToUserDetails(followingUser.id)"
									 class="relative z-10 w-64 h-48 lg:w-80 border-2 border-gray-200 flex items-center cursor-pointer bg-white opacity-0 hover:opacity-100">
								<span class="break-words text-sm pl-4 title-font font-medium 2xl:text-blue-900">
									Click to go to user profile</span>
								</div>
							</div>
							<span class="break-all">{{followingUser.name}}</span>
						</div>
					</div>
				</ng-container>
			</div>
		</mat-tab>
		<mat-tab label="Followers">
			<span class="flex place-content-end cursor-pointer pt-1 text-sm" [routerLink]="['/users/list']"
				  [queryParams]="{followersUserId: user.id}">See all</span>
			<div class="flex flex-wrap justify-start">
				<ng-container *ngIf="followers && followers.length > 0; else noData">
					<div *ngFor="let follower of followers">
						<div class="pr-16 mt-4 flex flex-col w-64">
							<div class="flex relative">
								<img alt="gallery"
									 class="absolute inset-0 w-64 h-48 lg:w-80 object-cover shadow-sm rounded-sm border-2 border-gray-200"
									 [src]=follower.imageBytes>
								<div (click)="goToUserDetails(follower.id)"
									 class="relative z-10 w-64 h-48 lg:w-80 border-2 border-gray-200 flex items-center cursor-pointer bg-white opacity-0 hover:opacity-100">
								<span class="break-words pl-4 text-sm title-font font-medium 2xl:text-blue-900">
									Click to go to user profile</span>
								</div>
							</div>
							<span class="break-all">{{follower.name}}</span>
						</div>
					</div>
				</ng-container>
			</div>
		</mat-tab>
		<ng-template #noData>
			<div class="w-full h-48 flex justify-center items-center">
				<span class="text-gray-400">No data</span>
			</div>
		</ng-template>
	</mat-tab-group>
</div>
<div
	class="bg-gray-50 bg-opacity-80 w-auto font-extralight text-sm p-6 shadow-sm border-2 border-opacity-20 center mx-5 mb-8 rounded-t-xl">
	<div class="flex justify-between mb-4">
		<span class="font-bold pb-2 pr-1">Added movies</span>
		<button [routerLink]="['/movies/list']"
				[queryParams]="{addedById: user.id}">See all</button>
	</div>
	<div class="flex flex-wrap">
		<ng-container *ngIf="moviesAdded && moviesAdded.length > 0; else noData">
			<div *ngFor="let movie of moviesAdded">
				<div class="pr-12 flex flex-col w-48">
					<div class="flex relative">
						<img alt="gallery"
							 class="absolute inset-0 w-auto h-48 object-cover shadow-sm rounded-sm border-2 border-gray-200"
							 [src]=movie.imageBytes>
						<div [routerLink]="['/movies/details', movie.id]"
							 class="relative z-10 w-auto h-48 border-2 border-gray-200 flex items-center cursor-pointer bg-white opacity-0 hover:opacity-100">
								<span class="break-words text-sm title-font font-medium 2xl:text-blue-900">
									Click to find out more</span>
						</div>
					</div>
					<span class="truncate">{{movie.title}}</span>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<div
	class="bg-gray-50 bg-opacity-80 w-auto font-extralight text-sm p-6 shadow-sm border-2 border-opacity-20 center mx-5 rounded-sm">
	<div class="flex justify-between mb-4">
		<span class="font-bold pb-2 pr-1">Added reviews</span>
		<button [routerLink]="['/reviews/list']"
				[queryParams]="{addedById: user.id}">See all</button>
	</div>
	<div class="flex flex-wrap">
		<ng-container *ngIf="reviews && reviews.length > 0; else noData">
			<div *ngFor="let review of reviews">
				<div
					class="bg-sky-100 shadow-sm p-6 rounded-md flex flex-col items-end text-gray-500 tracking-wider mr-4 mb-4">
					<div class="flex items-center divide-x-4 divide-dotted divide-gray-200 lg:w-72 sm:w-48">
						<mat-icon class="mr-4"> format_size</mat-icon>
						<div class="flex flex-col pl-4 break-all">
							<span class="mb-2 text-lg font-bold text-gray-800">{{review.title}}</span>
							<span class="mb-2 text-lg">{{review.movieTitle}}</span>
						</div>
					</div>
					<button class="p-2 bg-red-300 text-white hover:bg-red-400"
							[routerLink]="['/reviews/details', review.id]">Read all
					</button>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
