<style>
	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0;
	}
</style>
<div class="w-full min-h-screen bg-gray-200">
	<div class="flex">
		<div class="w-48 overflow-hidden inline-block">
			<div class="h-36 bg-red-200 rotate-45 transform origin-top-right"></div>
		</div>
		<div class="font-extrabold text-4xl text-gray-600 px-16 pt-16 pb-12 text-center header flex-auto">
			Add movie review
		</div>
		<div class="w-24 overflow-hidden inline-block">
			<div class="h-8 w-8 bg-blue-300 opacity-60 rotate-45 transform origin-bottom-left"></div>
		</div>
		<div class="w-24 overflow-hidden inline-block">
			<div class="h-16 w-16 bg-blue-200 opacity-60 rotate-45 transform origin-bottom-left"></div>
		</div>
	</div>
	<form class="w-4/5 mx-auto flex flex-col" [formGroup]="addReviewForm" (ngSubmit)="addReview()"
		  appInvalidControlScroll>
		<div class="flex items-baseline">
			<div
				class="font-bold mr-4 h-9 w-9 text-gray-700 rounded-full bg-white flex items-center
				justify-center text-lg shadow bg-gray-300">
				1
			</div>
			<span class="font-light text-2xl">Choose category</span>
		</div>
		<div class="bg-gray-50 bg-opacity-80 w-auto py-6 pl-6 shadow-sm mx-2 rounded-xl my-6 text-sm">
			<mat-form-field appearance="outline" class="w-48 sm:w-64">
				<mat-label>Category</mat-label>
				<mat-select (selectionChange)="getMoviesByCategory($event)" formControlName="category">
					<mat-option *ngFor="let category of categories" [value]="category">
						{{category}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div
				*ngIf="addReviewForm.controls['category'].invalid && (addReviewForm.controls['category'].dirty
            || addReviewForm.controls['category'].touched)"
				class="text-xs text-red-500 h-0">
				<div *ngIf="addReviewForm.controls['category'].errors?.required" class="font-thin">
					Please select category
				</div>
			</div>
		</div>
		<div class="flex items-baseline">
			<div
				class="font-bold mr-4 h-9 w-9 text-gray-700 rounded-full bg-white flex items-center
				justify-center text-lg shadow bg-gray-300">
				2
			</div>
			<span class="font-light text-2xl">Choose movie</span>
		</div>
		<div class="bg-gray-50 bg-opacity-80 w-auto py-6 pl-6 shadow-sm mx-2 rounded-xl my-6 text-sm">
			<mat-form-field appearance="outline" class="w-48 sm:w-64">
				<mat-label>Movie</mat-label>
				<mat-select [disabled]="!addReviewForm.value.category" formControlName="movieId">
					<mat-option *ngFor="let movie of movies" [value]="movie.id">
						{{movie.title}}
					</mat-option>
					<mat-option *ngIf="movies && movies.length === 0">
						No movies in this category
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div
				*ngIf="addReviewForm.controls['movieId'].invalid && (addReviewForm.controls['movieId'].dirty
            || addReviewForm.controls['movieId'].touched)"
				class="text-xs text-red-500 h-0">
				<mat-error *ngIf="addReviewForm.controls['movieId'].errors?.required" class="font-thin">
					Please select movie
				</mat-error>
			</div>
		</div>
		<div class="flex items-baseline">
			<div
				class="font-bold mb-8 mr-4 h-9 w-9 text-gray-700 rounded-full bg-white flex items-center
				justify-center text-lg shadow bg-gray-300">
				3
			</div>
			<span class="font-light text-2xl">Write review</span>
		</div>
		<div class="bg-gray-50 bg-opacity-80 w-auto py-6 px-6 shadow-sm mx-2 rounded-xl mb-6 text-sm flex flex-col">
			<span class="mb-4 text-gray-400 font-extralight">Title</span>
			<textarea class="rounded-md resize-none h-12 w-48 sm:w-64 shadow-sm border-gray-200"
					  formControlName="title"></textarea>
			<div
				*ngIf="addReviewForm.controls['title'].invalid && (addReviewForm.controls['title'].dirty
            || addReviewForm.controls['title'].touched)"
				class="text-xs text-red-500 h-0">
				<div *ngIf="addReviewForm.controls['title'].errors?.required" class="font-thin">
					Please enter title
				</div>
				<mat-error *ngIf="addReviewForm.controls['title'].errors?.maxlength" class="font-thin">
					Review title is too long
				</mat-error>
			</div>
			<span class="my-4 text-gray-400 font-extralight">Content</span>
			<ckeditor [editor]="editor" formControlName="content"></ckeditor>
			<div
				*ngIf="addReviewForm.controls['content'].invalid && (addReviewForm.controls['content'].dirty
            || addReviewForm.controls['content'].touched)"
				class="text-xs text-red-500 h-0">
				<div *ngIf="addReviewForm.controls['content'].errors?.required" class="font-thin">
					Please write review content
				</div>
				<div *ngIf="addReviewForm.controls['content'].errors?.maxlength" class="font-thin">
					Review content is too long
				</div>
			</div>
		</div>
		<button type="submit"
				class="hover:bg-red-200 bg-red-300 rounded-sm p-2 text-gray-100 font-semibold text-lg
				mb-6 self-center
				shadow-sm">
			Add
			review
		</button>
	</form>
</div>
