<style>
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
		background-color: #fff;
		border-radius: 5px;
	}

	img {
		min-height: 270px;
		min-width: auto;
	}
</style>
<div class="w-full min-h-screen bg-gray-200 p-4 sm:p-12">
	<button class="mb-4 flex items-center font-semibold text-lg text-sky-800" routerLink="/dashboard">
		<mat-icon class="mr-2">keyboard_backspace</mat-icon>
		<span>Go to dashboard</span>
	</button>
	<div class="bg-gray-50 p-8 rounded-lg border-gray-300 border-2 mb-0.5 border-opacity-30">
		<div class="flex flex-col">
			<span class="font-extrabold text-4xl mb-4 text-4xl text-gray-600">Users</span>
			<div class="flex items-center flex-wrap" *ngIf="!followingUserId && !followersUserId && !movieId">
				<input
					type="text"
					class="border border-gray-200 font-light rounded w-48 sm:w-64 mr-8"
					name="title"
					placeholder="User name"
					[(ngModel)]="userName"
					(ngModelChange)="userNameChanged.next($event)"/>
				<mat-checkbox class="example-margin" [(ngModel)]="reviewers"
							  (ngModelChange)="reviewersChanged.next($event)">Only reviewers
				</mat-checkbox>
			</div>
		</div>
		<div *ngIf="users && users.length > 0; else noData"
			 class="flex flex-col lg:flex-row justify-items-start mt-6 sm:justify-start">
			<ng-container *ngFor="let user of users">
				<div [routerLink]="['/users/details', user.id]"
					 class="flex flex-col hover:opacity-40 justify-center w-full lg:w-1/5 bg-white mr-4 mb-8 cursor-pointer">
					<img alt="gallery"
						 class="h-full w-auto shadow-sm rounded-sm self-center"
						 [src]=user.imageBytes>
					<div class="flex flex-col p-4">
						<span class="font-bold text-lg break-all">{{user.name}}</span>
						<div *ngIf="user.isReviewer" class="flex items-center text-gray-600">
							<span class="font-semibold mr-1">Reviewer</span>
							<mat-icon>check_circle</mat-icon>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
		<div class="flex justify-center">
			<ng-container *ngFor="let page of totalPages">
				<a class="h-10 w-10 bg-sky-900 hover:bg-sky-600 font-semibold text-white text-sm mr-4 cursor-pointer
			flex items-center justify-center" (click)="getUsersListPage(page)">{{page + 1}}</a>
			</ng-container>
		</div>
	</div>
</div>
<ng-template #noData>
	<div class="flex flex-col justify-center items-center h-72">
		<span class="text-center text-gray-500">No data</span>
	</div>
</ng-template>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

