<style>
	input[type='file'] {
		color: transparent;
	}

	.upload-file::-webkit-file-upload-button {
		visibility: hidden;
	}

	.upload-file {
		width: 84px;
	}

	.upload-file::before {
		content: 'Upload file';
		display: inline-block;
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 10pt;
	}

	.upload-file:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}
</style>
<div class="w-full min-h-screen bg-gray-200">
	<div class="flex">
		<div class="w-48 overflow-hidden inline-block">
			<div class="h-36 bg-red-200 rotate-45 transform origin-top-right"></div>
		</div>
		<div class="font-extrabold text-4xl text-gray-600 pt-16 pb-8 text-center header flex-auto">
			Add movie
		</div>
		<div class="w-24 overflow-hidden inline-block">
			<div class="h-8 w-8 bg-blue-300 opacity-60 rotate-45 transform origin-bottom-left"></div>
		</div>
		<div class="w-24 overflow-hidden inline-block">
			<div class="h-16 w-16 bg-blue-200 opacity-60 rotate-45 transform origin-bottom-left"></div>
		</div>
	</div>
	<form class="w-4/5 mx-auto bg-white flex flex-col p-8 text-xl font-extralight text-gray-400 rounded-md"
		  [formGroup]="addMovieForm" (ngSubmit)="addMovie()" appInvalidControlScroll>
		<div class="grid items-center grid-cols-1 sm:grid-cols-4">
			<span>Title</span>
			<div>
				<input
					type="text"
					class="border border-gray-200 font-light rounded w-48 sm:w-64"
					name="title"
					[value]="addMovieForm.get('title')?.value | text"
					placeholder="Title"
					formControlName="title"/>
				<div
					*ngIf="addMovieForm.controls['title'].invalid && (addMovieForm.controls['title'].dirty
            || addMovieForm.controls['title'].touched)"
					class="text-xs text-red-500 h-0">
					<div *ngIf="addMovieForm.controls['title'].errors?.required" class="font-thin">
						Please enter title
					</div>
					<mat-error *ngIf="addMovieForm.controls['title'].errors?.maxlength" class="font-thin">
						Title is too long
					</mat-error>
					<div
						*ngIf="addMovieForm.controls['title'].errors?.movieExists" class="font-thin">Movie already
																									 exists in
																									 system
					</div>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-4 items-center mt-8">
			<span>Director</span>
			<div>
				<input
					type="text"
					class="border border-gray-200 font-light rounded w-48 sm:w-64"
					name="director"
					placeholder="Director name"
					formControlName="director"/>
				<div
					*ngIf="addMovieForm.controls['director'].invalid && (addMovieForm.controls['director'].dirty
            || addMovieForm.controls['director'].touched)"
					class="text-xs text-red-500 h-0">
					<div *ngIf="addMovieForm.controls['director'].errors?.required" class="font-thin">
						Please enter director name
					</div>
					<mat-error *ngIf="addMovieForm.controls['director'].errors?.maxlength" class="font-thin">
						Director name is too long
					</mat-error>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-4 items-center mt-8">
			<span>Release date</span>
			<div class="text-sm">
				<mat-form-field appearance="outline" class="font-light rounded w-48 sm:w-64">
					<mat-label>Choose a date</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="releaseDate">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<div
					*ngIf="addMovieForm.controls['releaseDate'].invalid && (addMovieForm.controls['releaseDate'].dirty
            || addMovieForm.controls['releaseDate'].touched)"
					class="text-xs text-red-500 h-0">
					<div *ngIf="addMovieForm.controls['releaseDate'].errors?.required" class="font-thin">
						Please choose release date
					</div>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-4 items-center mt-8">
			<span>Category</span>
			<div class="flex flex-col">
				<div class="flex flex-wrap">
					<mat-chip-list aria-label="Movie selection" *ngFor="let category of categories"
								   class="mat-chip-list-stacked mr-4 mb-4">
						<mat-chip [selectable]="true"
								  [removable]="true"
								  color="accent"
								  (click)="addCategory(category)"
								  selected>{{category}}</mat-chip>
					</mat-chip-list>
				</div>
				<div
					*ngIf="!addMovieForm.controls['category'].valid && (addMovieForm.controls['category'].dirty
            || addMovieForm.controls['category'].touched)"
					class="text-xs text-red-500 h-0">
						Please choose category
				</div>
			</div>
		</div>
		<span class="text-sm font-bold text-red-200 mt-4">Your choice:
			{{selectedCategory || '-'}}</span>
		<div class="grid grid-cols-1 sm:grid-cols-4 items-start mt-8">
			<span>Photo</span>
			<div>
				<div>
					<div *ngIf="!fileHandle"
						 class="p-16 sm:p-32 h-32 sm:h-64 w-56 sm:w-96 bg-gray-50 rounded-md shadow-sm" appDrag
						 (file)="filesDropped($event)">
						<div class="text-center text-lg">
							Drop photo
						</div>
					</div>
					<img *ngIf="fileHandle" [src]="fileHandle.url" class="h-72 w-auto">
					<div *ngIf="imageSizeError" class="font-thin text-xs text-red-500">
						Image is too large
					</div>
				</div>
				<input class="upload-file text-sm bg-red-200 rounded-sm" type="file" (change)="addImage($event)"/>
			</div>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-4 items-start mt-8">
			<span>Description</span>
			<div>
			<textarea class="rounded-md resize-none h-32 sm:h-64 w-56 sm:w-96 shadow-sm border-gray-200"
					  formControlName="description"></textarea>
				<div
					*ngIf="addMovieForm.controls['description'].invalid && (addMovieForm.controls['description'].dirty
            || addMovieForm.controls['description'].touched)"
					class="text-xs text-red-500 h-0">
					<div *ngIf="addMovieForm.controls['description'].errors?.required" class="font-thin">
						Please enter description
					</div>
					<mat-error *ngIf="addMovieForm.controls['description'].errors?.maxlength" class="font-thin">
						Description is too long
					</mat-error>
				</div>
			</div>
		</div>
		<button
			type="submit"
			class="w-54 hover:bg-red-200 bg-red-300 rounded-sm p-2 text-white
				mt-6 font-semibold text-lg self-center shadow-sm">Add
															  movie
		</button>
	</form>
</div>

