<style>
	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0;
	}
	input[type='file'] {
		color: transparent;
	}
	.upload-file::-webkit-file-upload-button {
		visibility: hidden;
	}
	.upload-file {
		width: 84px;
	}
	.upload-file::before {
		content: 'Upload file';
		display: inline-block;
		/*background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);*/
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 10pt;
	}
	.upload-file:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}
</style>
<form class="min-h-screen pt-12 bg-blue-900 sm:px-12 lg:px-24" [formGroup]="initialUserDataForm"
	  (ngSubmit)="addUserInitialData()"
	  appInvalidControlScroll>
	<div class="text-center text-gray-100 font-thin text-2xl pb-8">ADD INITIAL DATA</div>
	<mat-stepper class="shadow-lg rounded-sm" orientation="vertical">
		<mat-step label="Step 1" state="photo">
			<div class="flex flex-col justify-center items-center">
				<p class="font-light text-xl pb-2">Put down your photo</p>
				<div *ngIf="!fileHandle" class="p-32 w-1/3 bg-gray-200 rounded-md shadow-sm" appDrag
					 (file)="filesDropped($event)">
					<div class="flex justify-center">
						Drop photo
					</div>
				</div>
				<img *ngIf="fileHandle" [src]="fileHandle.url" class="w-72 h-72">
				<input class="upload-file text-sm bg-red-200 rounded-sm mt-4" type="file" (change)="addImage($event)"/>
				<div *ngIf="imageSizeError" class="font-thin text-xs text-red-500">
					Image is too large
				</div>
			</div>
		</mat-step>
		<mat-step label="Step 2" state="description">
			<div class="sm:px-6 xl:px-72 flex flex-col text-center mt-6">
				<p class="font-light text-xl">Write down something about you</p>
				<textarea class="rounded-md h-56 shadow-sm border-gray-200"
						  formControlName="description"></textarea>
				<div
					*ngIf="initialUserDataForm.controls['description'].invalid && (initialUserDataForm.controls['description'].dirty
            || initialUserDataForm.controls['description'].touched)"
					class="text-xs text-red-500 h-0">
					<div *ngIf="initialUserDataForm.controls['description'].errors?.required" class="font-thin">
						Please enter your description
					</div>
					<mat-error *ngIf="initialUserDataForm.controls['description'].errors?.maxlength" class="font-thin">
						Description is too long
					</mat-error>
				</div>
			</div>
		</mat-step>
		<mat-step label="Step 3" state="address">
			<div class="mt-6 text-center">
				<p class="font-light text-xl">Where are you from?</p>
				<div class="mb-4">
					<mat-form-field appearance="outline">
						<mat-label>Country</mat-label>
						<input type="text"
							   placeholder="Pick one"
							   aria-label="Country"
							   matInput
							   formControlName="country"
							   [matAutocomplete]="countrySelection">
						<mat-autocomplete autoActiveFirstOption #countrySelection="matAutocomplete"
										  (optionSelected)="getCities($event.option.value)">
							<mat-option *ngFor="let country of filteredCountries | async" [value]="country">
								{{country}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div
						*ngIf="initialUserDataForm.controls['country'].invalid && (initialUserDataForm.controls['country'].dirty
            || initialUserDataForm.controls['country'].touched)"
						class="text-xs text-red-500 h-0">
						<div *ngIf="initialUserDataForm.controls['country'].errors?.required" class="font-thin">
							Please enter a country
						</div>
					</div>
				</div>
				<div class="mb-4">
					<mat-form-field appearance="outline">
						<mat-label>City</mat-label>
						<input type="text"
							   placeholder="Pick one"
							   aria-label="City"
							   matInput
							   formControlName="city"
							   [matAutocomplete]="citySelection">
						<mat-autocomplete autoActiveFirstOption #citySelection="matAutocomplete">
							<mat-option *ngFor="let city of filteredCities | async" [value]="city">
								{{city}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
					<div
						*ngIf="initialUserDataForm.controls['city'].invalid &&
					(initialUserDataForm.controls['city'].dirty
            || initialUserDataForm.controls['city'].touched)"
						class="text-xs text-red-500 h-0">
						<div *ngIf="initialUserDataForm.controls['city'].errors?.required" class="font-thin">
							Please enter a city
						</div>
					</div>
				</div>
				<button
					class="border border-transparent text-sm font-medium px-10 py-2 mt-4
                rounded-md text-white bg-blue-900 hover:bg-pink-300 focus:outline-none focus:ring-2 focus:ring-offset-2
                focus:ring-indigo-500"
					type="submit">
					Submit
				</button>
			</div>
		</mat-step>
		<ng-template matStepperIcon="photo">
			<mat-icon>add_a_photo</mat-icon>
		</ng-template>
		<ng-template matStepperIcon="description">
			<mat-icon>forum</mat-icon>
		</ng-template>
	</mat-stepper>
</form>
