<div class="bg-blue-100 min-h-screen flex flex-col">
	<div class="flex">
		<div class="w-16 overflow-hidden inline-block mr-8">
			<div class=" h-11 w-11 bg-red-100 -rotate-45 transform origin-top-left"></div>
		</div>
		<div class="w-16 overflow-hidden inline-block mr-8">
			<div class=" h-11 w-11 bg-red-100 -rotate-45 transform origin-top-left"></div>
		</div>
		<div class="w-16 overflow-hidden inline-block mr-8">
			<div class=" h-11 w-11 bg-red-100 -rotate-45 transform origin-top-left"></div>
		</div>
	</div>
	<div class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-2">
		<div class="bg-gray-50 px-6 py-8 rounded-lg shadow-sm text-black w-full">
			<form class="flex flex-col justify-center" [formGroup]="registerForm" (ngSubmit)="register()"
				  appInvalidControlScroll>
				<h1 class="mb-8 text-3xl text-gray-700 font-semibold uppercase text-center">Create account</h1>
				<div class="mb-6">
					<input
						type="text"
						class="block border border-gray-200 w-full font-light rounded"
						name="firstName"
						placeholder="First name"
						formControlName="firstName"/>
					<div
						*ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty
            || registerForm.controls['firstName'].touched)"
						class="text-xs text-red-500 h-0">
						<div *ngIf="registerForm.controls['firstName'].errors?.required" class="font-thin">
							Please enter your first name
						</div>
						<mat-error *ngIf="registerForm.controls['firstName'].errors?.maxlength" class="font-thin">
							First name is too long
						</mat-error>
					</div>
				</div>
				<div class="mb-6">
					<input
						type="text"
						class="block border border-gray-200 w-full font-light rounded"
						name="lastName"
						placeholder="Last name"
						formControlName="lastName"/>
					<div
						*ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty
            || registerForm.controls['lastName'].touched)"
						class="text-xs text-red-500 h-0">
						<div *ngIf="registerForm.controls['lastName'].errors?.required" class="font-thin">
							Please enter your last name
						</div>
						<mat-error *ngIf="registerForm.controls['lastName'].errors?.maxlength" class="font-thin">
							Last name is too long
						</mat-error>
					</div>
				</div>
				<div class="mb-6">
					<input
						type="text"
						class="block border border-gray-200 w-full font-light rounded"
						name="email"
						placeholder="Email"
						formControlName="email"/>
					<div
						*ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty
            || registerForm.controls['email'].touched)"
						class="text-xs text-red-500 h-0">
						<div
							*ngIf="registerForm.controls['email'].errors?.emailExists" class="font-thin">Email already
																										 exists in
																										 system
						</div>
						<div *ngIf="registerForm.controls['email'].errors?.required" class="font-thin">
							Please enter your email
						</div>
						<div *ngIf="registerForm.controls['email'].errors?.email" class="font-thin">
							Invalid value
						</div>
					</div>
				</div>
				<div class="mb-6">
					<input
						type="password"
						class="block border border-gray-200 w-full font-light rounded"
						name="password"
						placeholder="Password"
						formControlName="password"/>
					<div
						*ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty
            || registerForm.controls['password'].touched)"
						class="text-xs text-red-500 h-0">
						<div *ngIf="registerForm.controls['password'].errors?.required" class="font-thin">
							Please enter your password
						</div>
						<mat-error
							*ngIf="registerForm.controls['password'].errors?.minlength">You must enter at least 6
																						characters
						</mat-error>
						<mat-error
							*ngIf="registerForm.controls['password'].errors?.maxlength">You must enter max 14
																						characters
						</mat-error>
					</div>
				</div>
				<button
					type="submit"
					class="hover:bg-indigo-100 mx-24 text-center py-3 rounded-xl bg-green text-gray-600 font-medium uppercase
        hover:bg-green-dark focus:outline-none my-1">Sign up
				</button>
			</form>
		</div>
		<div class="text-grey-dark font-light mt-6">
			Already have an account?
			<button (click)="goToLogin()" class="no-underline border-b border-blue text-blue">
				Sign in
			</button>
		</div>
	</div>
	<div class="flex justify-end">
		<div class="w-16 overflow-hidden inline-block mr-8">
			<div class=" h-11 w-11 bg-gray-200 rotate-45 transform origin-bottom-left"></div>
		</div>
		<div class="w-16 overflow-hidden inline-block mr-8">
			<div class=" h-11 w-11 bg-gray-200 rotate-45 transform origin-bottom-left"></div>
		</div>
		<div class="w-16 overflow-hidden inline-block mr-8">
			<div class=" h-11 w-11 bg-gray-200 rotate-45 transform origin-bottom-left"></div>
		</div>
	</div>
</div>
