<div class="w-full min-h-screen bg-gray-200 p-4 sm:px-20">
	<button class="mb-4 mt-4 flex items-center font-semibold text-lg text-sky-800" routerLink="/dashboard">
		<mat-icon class="mr-2">keyboard_backspace</mat-icon>
		<span>Go to dashboard</span>
	</button>
	<div class="flex flex-col">
		<div class="flex flex-wrap justify-between mb-6">
			<div
				class="bg-sky-200 bg-opacity-30 p-8 sm:p-12 w-full sm:w-3/4 flex flex-wrap sm:flex-nowrap rounded-2xl
				border-2 border-gray-200 border-opacity-60 shadow-sm mb-4">
				<img alt="gallery"
					 class="w-auto h-72 mr-16 shadow-sm rounded-sm border-2 border-gray-200"
					 [src]=movie.imageBytes>
				<div class="flex flex-col flex-wrap break-all bg-opacity-20 rounded-md w-full bg-white p-6">
					<div class="flex justify-between items-center">
						<span class="font-extrabold text-5xl pb-4">{{movie.title}}</span>
						<span class="font-semibold text-sky-800 text-2xl">{{movie.category}}</span>
					</div>
					<span class="font-light text-gray-500 text-xl">{{movie.director}}</span>
					<span class="font-semibold text-gray-600 text-xl pb-4">{{movie.releaseDate}}</span>
					<div class="font-semibold text-lg">{{movie.description}}</div>
				</div>
			</div>
			<div class="w-full sm:w-1/5">
				<div class="flex flex-col">
					<button *ngIf="!movie.ratedByCurrentUser"
							class="bg-white rounded-full hover:bg-gray-100 border-2 border-gray-500 border-opacity-40 py-1 px-6 mb-4
			text-gray-400 text-s font-extralight w-36" type="submit" (click)="rateMovie()">Add rate +
					</button>
					<button *ngIf="!movie.likedByCurrentUser"
							class="bg-white rounded-full hover:bg-gray-100 border-2 border-gray-500 border-opacity-40 py-1 px-6 mb-4
			text-gray-400 text-s font-extralight w-48" type="submit" (click)="addToFavourite()">Add to favourite
					</button>
				</div>
				<div
					class="bg-gradient-to-r from-gray-600 to-gray-700 p-4 sm:p-8 flex flex-col justify-center items-center rounded-2xl shadow-sm mb-4">
					<span class="font-bold text-2xl text-white mb-2">Average rate</span>
					<div class="my-6">
						<mat-icon class="text-yellow-400 transform scale-300">star_border</mat-icon>
					</div>
					<ng-container *ngIf="movie.averageRate; else noData">
						<span class="text-3xl text-white">{{movie.averageRate}}/10</span>
					</ng-container>
					<ng-template #noData>
						<span class="text-center">No data</span>
					</ng-template>
				</div>
				<div class="bg-sky-100 bg-opacity-40 p-4 sm:p-8 flex flex-col rounded-2xl shadow-sm mb-4">
					<span class="font-bold text-lg">Added by</span>
					<span class="font-light text-md">{{movie.addedBy}}</span>
				</div>
			</div>
		</div>
		<div
			class="bg-white flex flex-col rounded-2xl border-2 border-gray-300 bg-opacity-40 border-opacity-25 shadow-sm p-8">
			<div class="flex justify-between mb-4">
				<span class="font-bold">Rated by</span>
				<button [routerLink]="['/users/list']"
						[queryParams]="{movieId: movie.id}">See all
				</button>
			</div>
			<div *ngIf="movie.averageRate; else noData" class="flex flex-col sm:flex-row">
				<div *ngFor="let user of users">
					<div class="flex flex-col mb-4 sm:mb-0 items-center border p-2 mr-6">
						<img alt="gallery"
							 class="h-48 w-48 shadow-sm rounded-full pb-4"
							 [src]=user.imageBytes>
						<div class="pt-2 flex flex-col items-center">
							<span class="cursor-pointer"
								  [routerLink]="['/users/details', user.id]">{{user.id ===
							tokenStorageService.getUserId() ?
								"You" : user.name}}</span>
							<div class="flex items-center">
								<mat-icon class="mr-2 text-yellow-400">star</mat-icon>
								<span>Rate: {{user.value}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
