<style>
	::ng-deep .mat-paginator-range-actions {
		display: none !important;
	}

	table {
		width: 100%;
	}

</style>
<div class="w-full min-h-screen bg-gray-200">
	<div class="flex justify-between">
		<div class="w-48 overflow-hidden inline-block">
			<div class="h-36 bg-red-200 rotate-45 transform origin-top-right"></div>
		</div>
		<div>
			<div class="w-28 overflow-hidden inline-block">
				<div class="h-16 w-16 2xl:bg-blue-900 opacity-40 -rotate-45 transform origin-top-left"></div>
			</div>
			<div class="w-24 overflow-hidden inline-block">
				<div class="h-16 w-16 bg-blue-200 opacity-60 rotate-45 transform origin-bottom-left"></div>
			</div>
		</div>
	</div>
	<div class="px-8 sm:px-16 pb-6">
		<div class="bg-white p-8 sm:p-12 flex flex-col rounded-sm shadow-sm mb-1 divide-y-2">
			<div class="mb-8">
				<div class="flex justify-between">
					<span class="font-extrabold text-4xl mb-2 text-gray-700 break-all">{{review.title}}</span>
					<span class="font-semibold text-opacity-50 text-xl text-sky-700">{{review.reviewedBy.name}}</span>
				</div>
				<span class="font-light text-lg mb-8">{{review.creationDate}}</span>
			</div>
			<div class="pt-8 break-all" [innerHTML]="review.content"></div>
		</div>
		<div class="flex justify-between mt-20 mb-4">
			<span class="font-bold">Comments</span>
			<button class="font-bold" (click)="addingComment = true">Add comment +</button>
		</div>
		<div class="mat-elevation-z8">
			<div *ngIf="addingComment" class="flex bg-white items-center">
				<input
					class="rounded w-1/4 px-3 py-2 m-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md
                 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
					[(ngModel)]="commentContent"
					placeholder="Write comment">
				<button (click)="addComment()"
						class="hover:bg-red-50 border-2 border-red-100 p-1 rounded-sm text-red-200 font-semibold shadow-sm">
					Submit
				</button>
			</div>
			<ng-container *ngIf="comments && comments.length > 0; else noData">
				<table mat-table [dataSource]="dataSource" class="font-sans">
					<ng-container matColumnDef="position">
						<td mat-cell *matCellDef="let comment" class="font-light flex justify-between mt-4">
							<div class="flex flex-col mb-4">
								<span class="font-semibold text-gray-600">{{comment.author}} wrote:</span>
								<span class="italic">{{comment.content}}</span>
							</div>
							<span class="font-thin">{{comment.creationDate}}</span>
						</td>
					</ng-container>
					<tr mat-row *matRowDef="let row; columns: ['position'];"></tr>
				</table>
			</ng-container>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]"
						   aria-label="Select page of periodic elements">
			</mat-paginator>
			<ng-template #noData>
				<span *ngIf="!addingComment" class="flex justify-center bg-white pt-4 pb-1">No comments</span>
			</ng-template>
		</div>
	</div>
</div>
