<style>
	::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
		background-color: #fff;
		border-radius: 5px;
	}

	img {
		min-height: 270px;
		min-width: auto;
	}

	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0;
	}
</style>
<div class="w-full min-h-screen bg-gray-200 p-4 sm:p-12">
	<button class="mb-4 flex items-center font-semibold text-lg text-sky-800" routerLink="/dashboard">
		<mat-icon class="mr-2">keyboard_backspace</mat-icon>
		<span>Go to dashboard</span>
	</button>
	<div class="bg-gray-50 p-8 rounded-lg border-gray-300 border-2 mb-0.5 border-opacity-30">
		<div class="flex flex-col">
			<span class="font-extrabold text-4xl mb-4 text-gray-600">Movies</span>
			<div class="flex items-baseline flex-wrap" *ngIf="withFilters">
				<input
					type="text"
					class="border border-gray-200 font-light rounded w-48 sm:w-64 mr-8"
					name="title"
					placeholder="Title"
					[(ngModel)]="movieTitle"
					(ngModelChange)="movieTitleChanged.next($event)"/>
				<div class="flex flex-col items-start">
					<mat-form-field appearance="outline" class="text-sm">
						<mat-label>Category</mat-label>
						<mat-select [(ngModel)]="movieCategory" [ngModelOptions]="{standalone: true}"
									(ngModelChange)="movieCategoryChanged.next($event)">
							<mat-option *ngFor="let category of categories" [value]="category">
								{{category}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<button (click)="this.movieCategoryChanged.next('')" class="font-extralight">Unselect category</button>
				</div>
			</div>
		</div>
		<div *ngIf="movies && movies.length > 0; else noData"
			class="flex flex-col lg:flex-row justify-items-start mb-2 pt-6">
				<ng-container *ngFor="let movie of movies">
					<div [routerLink]="['/movies/details', movie.id]"
						 class="flex flex-col relative hover:opacity-40 justify-center rounded-xl bg-white w-full
						 lg:w-1/4 mr-12 mb-4 cursor-pointer">
						<img alt="gallery"
							 class="w-auto h-full rounded-t-xl rounded-b-sm"
							 [src]=movie.imageBytes>
						<div class="flex flex-col p-4">
							<div class="flex items-center">
								<mat-icon class="mr-2 text-gray-500">movie</mat-icon>
								<span class="font-semibold text-xl text-sky-900 break-all">{{movie.title}}</span>
							</div>
							<span class="text-sky-700">{{movie.category}}</span>
						</div>
					</div>
				</ng-container>
		</div>
		<div class="flex justify-center">
			<ng-container *ngFor="let page of totalPages">
				<a class="h-10 w-10 bg-sky-900 hover:bg-sky-600 font-semibold text-white text-sm mr-4 cursor-pointer
			flex items-center justify-center" (click)="getMoviesListPage(page)">{{page + 1}}</a>
			</ng-container>
		</div>
	</div>
</div>
<ng-template #noData>
	<div class="flex flex-col justify-center items-center h-72">
		<span class="text-center text-gray-500">No data</span>
	</div>
</ng-template>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>

