<nav class="w-full py-4 bg-blue-900 shadow flex flex-wrap justify-end">
	<div class="text-md text-gray-100 font-extralight">
		<div class="flex flex-row items-center">
			<span class="pr-4">Hello {{userData.name}}!</span>
			<img class="rounded-full h-8 w-8" [src]="userData.imageBytes" alt="user-photo">
			<button mat-button [matMenuTriggerFor]="belowMenu">
				<mat-icon>expand_more</mat-icon>
			</button>
		</div>
		<mat-menu #belowMenu="matMenu" yPosition="below">
			<button mat-menu-item (click)="goToUserProfile()">Profile</button>
			<button mat-menu-item (click)="logOut()">Log out</button>
		</mat-menu>
	</div>
</nav>
<header class="w-full container mx-auto">
	<div class="flex flex-col items-center py-12">
		<span class="font-extrabold text-gray-900 uppercase hover:text-gray-700 text-5xl">
			Movies
		</span>
	</div>
</header>
<nav class="w-full py-4 border-t border-b bg-gray-200" x-data="{ open: false }">
	<div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
		<div
			class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center font-semibold mt-0 px-6 py-2">
			<button class="hover:bg-gray-400 rounded py-2 px-4 mx-2 uppercase" routerLink="/movies/ranking" >Movies
																											 rankings
			</button>
			<button class="hover:bg-gray-400 rounded py-2 px-4 mx-2 uppercase" routerLink="/reviews/list">Reviews
			</button>
			<button class="hover:bg-gray-400 rounded py-2 px-4 mx-2 uppercase" routerLink="/users/list">Users</button>
			<button class="hover:bg-gray-400 rounded py-2 px-4 mx-2 uppercase" routerLink="/movies/list">Movies</button>
		</div>
	</div>
</nav>
<div class="flex flex-col lg:flex-row justify-between mt-8">
	<div class="lg:w-3/7 w-3/4 m-8 border-2 self-center rounded-md shadow-sm h-auto px-6 py-4 bg-gray-50">
		<div class="font-semibold text-2xl mb-2">The most popular reviewers</div>
		<div
			*ngIf="moviesMainData.mostPopularReviewers && moviesMainData.mostPopularReviewers.length > 0; else noData">
			<div *ngFor="let reviewer of moviesMainData.mostPopularReviewers">
				<div class="flex items-center">
					<span class="font-semibold text-lg text-gray-600 mr-2">{{reviewer}}</span>
					<mat-icon class="text-sky-800 text-base">check_circle</mat-icon>
				</div>
			</div>
		</div>
	</div>
	<div class="lg:w-3/7 w-3/4 m-8 self-center border-2 rounded-md shadow-sm h-auto bg-gray-50 px-6 py-4">
		<div class="font-semibold text-2xl mb-2">The most popular movies</div>
		<div
			*ngIf="moviesMainData.mostPopularMovies && moviesMainData.mostPopularMovies.length > 0; else noData">
			<div *ngFor="let movie of moviesMainData.mostPopularMovies">
				<div class="flex items-center">
					<span class="font-semibold text-lg text-gray-600 mr-2 break-all">{{movie}}</span>
					<mat-icon class="text-sky-600 text-base">movie</mat-icon>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #noData>
	<div class="flex flex-col justify-center items-center h-24">
		<span class="text-center text-gray-500">No data</span>
	</div>
</ng-template>
<ngx-loading [show]="(loaderService.isLoading | async)!"
			 [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
