@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
body {
	ol {
		padding-left: 24px;
	}
}

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
}
