<style>
	::ng-deep .mat-form-field-wrapper {
		padding-bottom: 0;
	}
</style>
<h1 mat-dialog-title>Rate movie</h1>
<form [formGroup]="rateMovieForm" (ngSubmit)="rateMovie()" appInvalidControlScroll>
	<div mat-dialog-content>
		<mat-form-field appearance="outline" class="text-sm">
			<mat-label>Select</mat-label>
			<mat-select (selectionChange)="setRate($event)" formControlName="rate">
				<mat-option *ngFor="let rateValue of rates" [value]="rateValue">{{rateValue}}</mat-option>
			</mat-select>
		</mat-form-field>
		<div
			*ngIf="rateMovieForm.controls['rate'].invalid && (rateMovieForm.controls['rate'].dirty
            || rateMovieForm.controls['rate'].touched)">
			<div *ngIf="rateMovieForm.controls['rate'].errors?.required" class="font-thin text-red-500">
				Please select rate
			</div>
		</div>
	</div>
	<div mat-dialog-actions>
		<button mat-button type="button" (click)="cancel()">Close</button>
		<button mat-button type="submit">Add rate</button>
	</div>
</form>
